body {
     margin: 0;
     padding: 0;
     background-color: white;
     font-family: 'Helvetica', 'Arial', sans-serif;
     text-align: center;
     color: white;
     font-size: 50px;
}
 
header {
     display: grid;
     width: 100%;
     height: 100vh;
     text-align: center;
     align-items: center;
     background-image: url(perpetualocean_cover.jpg);
}

header h1 {
    color: white;
}

.about {
    margin: 0 30%;
    color: black;
}

.fine-print {
    font-size: 20px;
}

 .carousel {
    position: relative;
    height: 700px;
    width: 80%;
    margin: 0 auto;
 }

 .carousel__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
 }

 .carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 2rem;

 }

 .carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 550ms ease-in-out;
 }

 .carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
 }

 .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
 }

 .carousel__button--left {
    left: -60px;
 }

 .carousel__button--right {
    right: -60px;
 }

 .carousel__button img {
    width: 50px;
 }

 .carousel__nav {
    display: flex;
    justify-content: center;
    padding: 5rem;
 }

 .carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .3);
    margin: 0 12px;
    cursor: pointer;
 }

 .carousel__indicator.current-slide {
    background: rgba(0, 0, 0, .75)
 }
 
 .is-hidden {
     display: none;
 }

#map {
    height: 100vh;
}

.divider {
    display: flex;
    text-align: center;
    height: 200px;
    background-color: rgb(77, 124, 255);
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(64,64,64,0.5);
    -moz-box-shadow: 0px 0px 15px 5px rgba(64,64,64,0.5);
    box-shadow: 0px 0px 15px 5px rgba(64,64,64,0.5);
    
}

img {
    width: 100%;
    object-fit: fill;
}

p {
    color: black;
}

.team {
    padding: 20px;
    width: 50%;
}
 /*
 .showSlide {
     display: none
 }
 
 .showSlide img {
     width: 100%;
 }
 
 .slidercontainer {
     max-width: 80%;
     max-height: 100%;
     position: relative;
     margin: auto;
 }
 
 .left,
 .right {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     padding: 16px;
     margin-top: -22px;
     color: rgb(61, 61, 61);
     font-weight: bold;
     font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
 }
 
 .right {
     right: 0;
     border-radius: 3px 0 0 3px;
 }
 
 .left:hover,
 .right:hover {
     background-color: rgba(179, 179, 179, 0.8);
 }
 
 .content {
     color: #000000;
     font-size: 30px;
     padding: 8px 12px;
     position: absolute;
     top: 10px;
     width: 100%;
     text-align: center;
 }
 
 .active {
     background-color: #3b3b3b;
 }
 
 .fade {
     -webkit-animation-name: fade;
     -webkit-animation-duration: 1.5s;
     animation-name: fade;
     animation-duration: 1.5s;
 }
 
 @-webkit-keyframes fade {
     from {
         opacity: .4
     }
     to {
         opacity: 1
     }
 }
 
 @keyframes fade {
     from {
         opacity: .4
     }
     to {
         opacity: 1
     }
 }
*/